<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Advisor</title>
    <style>
        .btn{
            background-color: #4CAF50;
            box-sizing: 20px;
            background-color: deepskyblue;
            position: relative;
        }
    </style>
</head>
<body>
    <nav>
        <a class="btn btn-primary"  href="/" target="_blank" class="external">Home</a>
        <a class="btn btn-primary"  href="/signup">Sign</a>
        <a class="btn btn-primary"  href="/login" >Login</a>
        <a class="btn btn-primary"  href="/chatbot" >Chatbot</a>
        <a class="btn btn-primary"  href="/dashboard" >Dashboard</a>
    </nav>
</body>
</html>